/* Обнуление стилей */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
}


/* Цвета */

:root {
    --white: #ffffff;
    --accent: #383880;
    --violet-light: #AB8BC9;
    --violet-dark: #9E7CBF;
    --linear-gradient: linear-gradient(273deg, #6D6DE9 1.8%, #5151BA 100.01%);
}


/* Шрифты */

@font-face {
    font-family: "InterRegular";
    src: url("../fonts/InterRegular.woff") format("woff");
}

@font-face {
    font-family: "IntroBlack";
    src: url("../fonts/IntroBlack.woff") format("woff");
}

@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular.woff") format("woff");
}


/* Титульная секция */

.first {
    padding-top: 3.375rem;
    background-image: url(../img/backgrounds/TitleSection.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100vh;
}

.container {
    padding: 0 20rem;
}

.first__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.first__wrapper-logo {
    margin-bottom: 4rem;
}

.first__wrapper-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first__wrapper-title {
    text-align: center;
    color: var(--white);
    font-family: "IntroRegular";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    padding-bottom: 1.5rem;

}

.first__wrapper-text {
    text-align: center;
    max-width: 75.25rem;
    color: var(--white);
    text-align: center;
    font-family: "InterRegular";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%;
    padding-bottom: 1.5rem;
}


/* Анимирование кнопки */

.first__wrapper-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.225);
    background: transparent;
    border-radius: 20%;
}

.first__wrapper-button {
    background: var(--accent);
    clip-path: polygon(0.735% 14.648%, 0.735% 14.648%, 0.839% 12.367%, 1.025% 10.227%, 1.287% 8.253%, 1.617% 6.466%, 2.009% 4.89%, 2.455% 3.549%, 2.948% 2.465%, 3.481% 1.662%, 4.047% 1.164%, 4.639% 0.992%, 95.337% 0.992%, 95.337% 0.992%, 95.927% 1.162%, 96.492% 1.658%, 97.023% 2.456%, 97.515% 3.533%, 97.96% 4.867%, 98.352% 6.434%, 98.682% 8.212%, 98.945% 10.177%, 99.132% 12.308%, 99.238% 14.58%, 99.238% 14.58%, 99.321% 17.787%, 99.405% 21.187%, 99.487% 24.735%, 99.566% 28.388%, 99.638% 32.103%, 99.701% 35.837%, 99.755% 39.546%, 99.795% 43.187%, 99.821% 46.717%, 99.831% 50.092%, 99.831% 50.092%, 99.821% 53.491%, 99.795% 57.055%, 99.754% 60.739%, 99.7% 64.496%, 99.636% 68.283%, 99.563% 72.054%, 99.484% 75.764%, 99.402% 79.368%, 99.317% 82.821%, 99.233% 86.077%, 99.233% 86.077%, 99.128% 88.353%, 98.941% 90.487%, 98.678% 92.457%, 98.348% 94.239%, 97.956% 95.809%, 97.511% 97.146%, 97.018% 98.226%, 96.486% 99.026%, 95.921% 99.523%, 95.33% 99.693%, 4.646% 99.693%, 4.646% 99.693%, 4.053% 99.522%, 3.486% 99.022%, 2.953% 98.217%, 2.459% 97.131%, 2.013% 95.787%, 1.621% 94.208%, 1.291% 92.417%, 1.029% 90.438%, 0.843% 88.295%, 0.739% 86.01%, 0.739% 86.01%, 0.658% 82.753%, 0.576% 79.302%, 0.497% 75.701%, 0.421% 71.995%, 0.351% 68.23%, 0.289% 64.451%, 0.237% 60.703%, 0.197% 57.03%, 0.172% 53.478%, 0.163% 50.092%, 0.163% 50.092%, 0.172% 46.73%, 0.197% 43.213%, 0.236% 39.582%, 0.287% 35.882%, 0.349% 32.156%, 0.418% 28.448%, 0.494% 24.799%, 0.573% 21.254%, 0.654% 17.856%, 0.735% 14.648%);
    overflow: visible;
    position: relative;
    max-width: max-content;
}

.first__wrapper-button::before {
    content: '';
    position: absolute;
    max-width: max-content;
    height: 5.1875px;
    top: 0;
    left: 0;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.25);
}

.first__wrapper-inner {
    max-width: 100%;
    padding: 1.55rem 9rem;
    background: var(--linear-gradient);
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 200;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-family: "IntroBlack";
    margin: 0 0 0.4rem;
    clip-path: polygon(0.64% 14.225%, 0.64% 14.225%, 0.743% 11.949%, 0.926% 9.815%, 1.183% 7.845%, 1.507% 6.063%, 1.891% 4.492%, 2.328% 3.155%, 2.81% 2.075%, 3.332% 1.275%, 3.886% 0.778%, 4.466% 0.607%, 95.325% 0.607%, 95.325% 0.607%, 95.903% 0.777%, 96.455% 1.271%, 96.975% 2.066%, 97.457% 3.139%, 97.893% 4.469%, 98.276% 6.031%, 98.6% 7.804%, 98.858% 9.764%, 99.043% 11.889%, 99.147% 14.155%, 99.147% 14.155%, 99.231% 17.365%, 99.315% 20.767%, 99.397% 24.318%, 99.476% 27.975%, 99.548% 31.695%, 99.612% 35.433%, 99.665% 39.147%, 99.706% 42.793%, 99.732% 46.328%, 99.741% 49.708%, 99.741% 49.708%, 99.732% 53.111%, 99.705% 56.68%, 99.664% 60.368%, 99.61% 64.13%, 99.546% 67.922%, 99.473% 71.697%, 99.394% 75.411%, 99.311% 79.018%, 99.227% 82.473%, 99.143% 85.731%, 99.143% 85.731%, 99.039% 88.002%, 98.854% 90.131%, 98.597% 92.095%, 98.273% 93.872%, 97.889% 95.438%, 97.453% 96.77%, 96.97% 97.847%, 96.449% 98.644%, 95.896% 99.139%, 95.318% 99.309%, 4.473% 99.309%, 4.473% 99.309%, 3.893% 99.138%, 3.338% 98.639%, 2.815% 97.837%, 2.332% 96.755%, 1.895% 95.415%, 1.511% 93.84%, 1.187% 92.055%, 0.93% 90.081%, 0.747% 87.943%, 0.644% 85.663%, 0.644% 85.663%, 0.563% 82.405%, 0.481% 78.951%, 0.401% 75.347%, 0.325% 71.637%, 0.255% 67.868%, 0.193% 64.084%, 0.141% 60.331%, 0.101% 56.654%, 0.076% 53.098%, 0.067% 49.708%, 0.067% 49.708%, 0.076% 46.341%, 0.101% 42.819%, 0.14% 39.184%, 0.192% 35.479%, 0.253% 31.749%, 0.323% 28.036%, 0.398% 24.383%, 0.478% 20.835%, 0.559% 17.435%, 0.64% 14.225%);
    cursor: pointer;
}

.flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20rem;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(273deg, #ffffff47 1.8%, #a481c84a 100.01%);
    animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}


/* Картинки на абсолютном позиционировании */

.first__wrapper-image {
    max-width: 34.375rem;
    max-height: 22.75rem;
    margin-left: -5%;
    margin-top: 1.5rem;
    position: relative;
    z-index: 10;
}

.first__wrapper-imageleft {
    content: url(../img/bigImages/OneNearBear.png);
    width: 6.9375rem;
    height: 6.5rem;
    position: absolute;
    left: 36%;
    bottom: 17%;
    z-index: 5;
}

.first__wrapper-imageright {
    content: url(../img/bigImages/TwoNearBear.png);
    width: 2rem;
    height: 4.25rem;
    position: absolute;
    left: 58%;
    bottom: 30%;
    z-index: 14;
}

.first__wrapper-pen {
    position: absolute;
    left: 2%;
    bottom: 0%;
    width: 19.125rem;
    height: 46.25rem;
    z-index: 5;
}

.first__wrapper-one {
    position: absolute;
    left: 4%;
    bottom: 16%;
    width: 8.8125rem;
    height: 8.375rem;
    z-index: 10;
}

.first__wrapper-two {
    position: absolute;
    left: 14%;
    bottom: 20%;
    width: 2.75rem;
    height: 4.75rem;
    z-index: 10;
}

.first__wrapper-three {
    position: absolute;
    left: 5%;
    bottom: 9%;
    width: 4.4375rem;
    height: 1.8125rem;
    z-index: 10;
}

.first__wrapper-four {
    position: absolute;
    left: 13%;
    bottom: 9%;
    width: 5.5rem;
    height: 2.8125rem;
    z-index: 3;
}

.first__wrapper-five {
    position: absolute;
    left: 9%;
    bottom: 1%;
    width: 5.125rem;
    height: 3.5rem;
    z-index: 10;
}

.first__wrapper-book {
    position: absolute;
    right: 0%;
    bottom: -30%;
    width: 31rem;
    height: 41.5625rem;
    z-index: 10;
}


/* Вторая секция */

.second {
    margin-top: 12.5rem;
}

.container__two {
    padding: 0 12.5rem;
}

.second__inner {
    /* display: flex;
    justify-content: space-between;
    position: relative; */
}

.second__wrapper {}

.second__wrapper-title {
    color: var(--violet-light);
    font-family: "IntroRegular";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    text-transform: lowercase;
    padding-bottom: 1.5rem;
}

.second__wrapper-text {
    color: var(--violet-light);
    font-family: Inter V;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 128%;
    padding-bottom: 5.35rem;
}

.second__wrapper-box {
    display: inline-flex;
    padding: 3rem 4rem 3.3125rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1.25rem;
    background: var(--violet-dark);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.15);
    max-width: 43.8rem;
}

.second__wrapper-subtitle {
    color: #FFF;
    font-family: "IntroRegular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    padding-bottom: 2.7rem;
}

.second__wrapper-subtext {
    padding-bottom: 1.5rem;
    color: var(--white);
    font-family: Inter V;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 128%;
    /* 2.08rem */
}

.second__wrapper-subtext span {
    font-weight: bold;
}

.subtext__last {
    padding-bottom: 0rem;
}

.second__image {
    position: absolute;
    right: 0%;
    max-width: 75.9375rem;
    max-height: 100.125rem;
}

.second__wrapper-diplom {
    /* position: relative; */
    left: 0%;
    margin-top: 30rem;
    margin-left: -15%;
}



/* Третья секция */

.third {
    margin-top: 10rem;
    margin-bottom: 14rem;
}

.third__wrapper {}

.third__wrapper-title {
    color: var(--violet-light);
    font-family: Intro;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 4.8rem */
    text-transform: lowercase;
    padding-bottom: 10rem;
}

.third__wrapper-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16rem;
    position: relative;
    z-index: 10;
}

.third__wrapper-item {
    display: flex;
    padding: 3rem 4rem 3.3125rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 1.25rem;
    background: var(--violet-dark);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.15);
    margin-left: 1rem;
}

.wrapper__number-one {
    position: absolute;
    top: -2%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-two {
    position: absolute;
    top: 9%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-three {
    position: absolute;
    top: 19%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-four {
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-five {
    position: absolute;
    top: 41%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-six {
    position: absolute;
    top: 51%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-seven {
    position: absolute;
    top: 62%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-eight {
    position: absolute;
    top: 72%;
    left: 0%;
    z-index: -1;
}

.wrapper__number-nine {
    position: absolute;
    top: 83%;
    left: -2%;
    z-index: -1;
}

.wrapper__number-ten {
    position: absolute;
    top: 94%;
    left: -2%;
    z-index: -1;
}

.third__wrapper-text {
    color: var(--white);
    font-family: Inter V;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 2.56rem */
}

.image__one {
    position: absolute;
    right: -4%;
    top: 0.3%;
}

.image__two {
    position: absolute;
    right: -4%;
    top: 11%;
}

.image__three {
    position: absolute;
    right: -4%;
    top: 22%;
}

.image__four {
    position: absolute;
    right: -4%;
    top: 31.5%;
}

.image__five {
    position: absolute;
    right: -4%;
    top: 43%;
}

.image__six {
    position: absolute;
    right: -4%;
    top: 53.5%;
}

.image__seven {
    position: absolute;
    right: -3%;
    top: 64.7%;
}

.image__eight {
    position: absolute;
    right: -4%;
    top: 75.3%;
}

.image__nine {
    position: absolute;
    right: -3%;
    top: 86%;
}

.image__ten {
    position: absolute;
    right: -4%;
    top: 96.5%;
}


/* Секция-слайдер */

/* Контент в слайдере */

.slide__top {
    border-radius: 1.25rem;
    background: var(--violet-dark);
    padding: 3rem;
    display: flex;
    align-items: center;
}

.slide__top-text {
    color: var(--white);
    text-align: center;
    font-family: Inter V;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140.523%;
}

.slide__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem;
}

.slide__bottom-left {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background: var(--violet-dark);
    grid-row: 1;
}

.slide__bottom-right {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    border-radius: 1.25rem;
    background: var(--violet-dark);
    align-self: center;
    justify-content: center;
    align-items: center;
    grid-row: 1;
}



.slide__bottom-text {
    padding: 3rem 0.625rem;
    text-align: center;
    color: var(--white);
    text-align: center;
    font-family: Inter V;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140.523%;
}

/* Картинки на абсолютном позиционировании */

.slide__bottom-bigmessage {
    position: absolute;
    right: 0%;
}

.slide__bottom-smallmessage {
    margin-top: -8%;
}


/* Работа слайдера */

.slider {
    margin: 100px;
    padding: 50px;
    transition: 0.5s;
    border-radius: 5px;
}

.slider__title {
    color: var(--violet-light);
    font-family: Intro;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 4.8rem */
    text-transform: lowercase;
    text-align: center;
    padding-bottom: 2.6rem;
}

.item {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    color: white;
}

.item_col {
    align-self: center;
    text-align: center;
    margin: 0 3%;
}

.btn {
    padding: 10px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(98, 32, 160);
    transition: 0.5s;
}

.slider .item img {
    object-fit: cover;
    width: max-content;
    height: max-content;
}

.previous,
.next {
    align-self: flex-start;
    cursor: pointer;
    border-radius: 100%;
    margin-top: 5%;
}

.arrow_mobile {
    display: none;
}

.previous__arrow {
    transition: 0.5s;
    border-radius: 100%;
    max-width: max-content;
    max-height: max-content;
}

.previous__arrow:hover {
    box-shadow: 1px 1px 20px #ab8bc931;
}

.next__arrow {
    transition: 0.5s;
    border-radius: 100%;
    max-width: max-content;
    max-height: max-content;
}

.next__arrow:hover {
    box-shadow: 1px 1px 20px #ab8bc931;
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {

    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

/* контент в слайдере */




/* Поп-ап в титульной секции */

.form {
    display: flex;
    /* менять тут на flex */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3.8rem 3.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: var(--lavanda-light, #E6E6FA);
    box-shadow: 2px 21px 47px 0px rgba(0, 0, 0, 0.10), 8px 86px 86px 0px rgba(0, 0, 0, 0.09), 19px 193px 116px 0px rgba(0, 0, 0, 0.05), 33px 342px 138px 0px rgba(0, 0, 0, 0.01), 52px 535px 150px 0px rgba(0, 0, 0, 0.00);
    max-width: max-content;
    max-height: max-content;
    position: fixed;
    top: 25%;
    transition: transform 0.3s ease-in-out;
    z-index: 30;
    left: 32%;
}

.form__top {}

.form__top-title {
    color: var(--violet-dark);
    font-family: "IntroRegular";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 3.84rem */
    text-transform: lowercase;
    padding-bottom: 0.5rem;
}

.form__top-text {
    color: var(--violet-dark);
    text-align: center;
    font-family: Inter V;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140.523%;
    /* 2.10781rem */
    padding-bottom: 3rem;
}

.form__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__bottom-input {
    display: flex;
    padding: 1.5rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 1rem;
    background: var(--white);
    border: none;
    margin-bottom: 1.5rem;
    text-align: center;
    transition: all ease .4s;
    outline: 2px solid #9d7cbf00;
    color: rgba(0, 0, 0, 0.20);
    font-family: Inter V;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 1.6rem */
    text-transform: lowercase;
}

.bottom-input-bottom::placeholder {
    color: rgba(0, 0, 0, 0.20);
    font-family: Inter V;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 1.6rem */
    text-transform: lowercase;
}

.bottom-input-top::placeholder {
    color: rgba(0, 0, 0, 0.20);
    font-family: Inter V;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 1.6rem */
    text-transform: uppercase;
}

.form__bottom-input:focus {
    outline: 2px solid var(--violet-dark);
    color: var(--accent);
}

.form__bottom-button {
    width: 100%;
}


/* Секция с формой для записи на консультацию */

.form__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 15.31rem;
}

.form__background {
    background: var(--lavanda-light, #E6E6FA);
    padding: 6rem 10rem;
    border-radius: 2rem;
    width: 50%;
    max-height: max-content;
}

.bottom-input-top {
    padding: 1.5rem 0rem;
}

.form__background {
    position: relative;
}

.form__bottom-image {
    left: -5%;
    bottom: -20%;
    position: absolute;
}


/* Секция с контактами */

.contacts {
    position: relative;
}

.contacts__background {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.contacts__background::after {
    content: url(../img/icons/logoBottom.svg);
    bottom: 0%;
    position: relative;
    z-index: 17;
}

.contacts__inner {}

.contacts__inner-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 8rem;
}

.contacts__inner-title {
    color: var(--violet-light);
    text-align: center;
    font-family: Intro;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 4.8rem */
    text-transform: lowercase;
    padding-bottom: 1rem;
}

.contacts__inner-text {
    color: var(--violet-dark);
    text-align: center;
    font-family: Inter V;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140.523%;
    /* 2.81044rem */
    max-width: 52rem;
    margin: 0 auto;
}

.contacts__inner-box {
    background-image: url(../img/bigImages/MamaOnLongTable.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-top: 20%;
}

.contacts__inner-wrapper {
    display: flex;
    width: 37.4375rem;
    padding: 2.25rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50%;
    gap: 3rem;
    border-radius: 1.25rem;
    background: var(--violet-dark);
    box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.15);
}

.contacts__inner-item {}

.contacts__inner-subtitle {
    color: var(--lavanda-light, #E6E6FA);
    font-family: Inter V;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140.523%;
    /* 2.81044rem */
}

.contacts__inner-subtext {
    color: var(--white);
    font-family: Inter V;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140.523%;
    /* 2.81044rem */
}

.contacts__inner-image {}

.contacts__inner-logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    padding-top: 7.25rem;
}

/* МЕДИАЗАПРОСЫ */

/* Первая секция */

@media (max-width: 1600px) {
    .first__wrapper-title {
        font-size: 5rem;
    }

    .first__wrapper-text {
        font-size: 1.3rem;
    }

    .first__wrapper-logo {
        max-width: 12.25rem;
        max-height: 5.625rem;
    }

    .first__wrapper-image {
        max-width: 30.375rem;
        max-height: 18.75rem;
    }

    .first {
        height: 150vh;
    }

    .container__two {
        padding: 0 10rem;
    }

    .second__image {
        max-width: 51rem;
        max-height: auto;
        margin-top: 4%;
    }

    .second__wrapper-diplom {
        margin-top: 5rem;
    }

    .image__one {
        top: 1%;
    }

    .image__two {
        top: 12%;
    }

    .image__three {
        top: 22.5%;
    }

    .image__four {
        top: 32.2%;
    }

    .image__five {
        top: 43.3%;
    }

    .image__seven {
        top: 64.3%;
    }

    .image__eight {
        top: 75%;
    }

    .first__wrapper-pen {
        position: absolute;
        left: 2%;
        bottom: 0%;
        width: 13.125rem;
        height: 40.25rem;
        z-index: 5;
    }
}

@media (max-width: 1400px) {

    /* правила CSS для настольных компьютеров с шириной экрана от 1025px и выше */

    .first__wrapper-title {
        font-size: 4rem;
    }

    .first__wrapper-text {
        font-size: 1.3rem;
    }

    .first__wrapper-image {
        max-width: 28.375rem;
        max-height: 16.75rem;
    }

    .first {
        height: 150vh;
    }

    .second__image {
        max-width: 40rem;
        max-height: auto;
        margin-top: 11%;
    }

    .second__wrapper-diplom {
        margin-left: -16%;
        max-width: 24rem;
    }

    .container__two {
        padding: 0 5rem;
    }

    .second__wrapper-title {
        font-size: 3rem;
    }

    .second__wrapper-text {
        font-size: 1.3rem;
    }

    .second__wrapper-text {
        font-size: 1.3rem;
        padding-bottom: 4rem;
    }

    .second__wrapper-subtext {
        font-size: 1.3rem;
    }

    .second__wrapper-subtitle {
        font-size: 1.6rem;
    }

    .second__wrapper-box {
        max-width: 34.8rem;
    }

    .third__wrapper-title {
        font-size: 3rem;
        padding-bottom: 6rem;
    }

    .third__wrapper-grid {
        gap: 8rem;
    }

    .third__wrapper-text {
        color: var(--white);
        font-family: Inter V;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 128%;
    }

    .third__wrapper-item {
        display: flex;
        padding: 2rem 3rem 2rem 3rem;
    }

    .wrapper__number-one {
        position: absolute;
        top: -1%;
        left: 0%;
        z-index: -1;
        max-width: 5rem;
    }

    .image__one {
        top: 0.5%;
        max-width: 5rem;
        right: -3%;
    }

    .image__two {
        max-width: 5rem;
        right: -3%;
        top: 11.5%;
    }

    .wrapper__number-two {
        max-width: 8rem;
        top: 9.5%;
    }

    .wrapper__number-three {
        max-width: 8rem;
        top: 20%;
    }

    .image__three {
        top: 22%;
        max-width: 5rem;
        right: -3%;
    }

    .wrapper__number-four {
        max-width: 8rem;
        top: 31%;
    }

    .image__four {
        max-width: 5rem;
        right: -3%;
    }

    .wrapper__number-five {
        max-width: 8rem;
        top: 41.5%;
    }

    .image__five {
        max-width: 5rem;
        right: -3%;
    }

    .wrapper__number-six {
        max-width: 8rem;
        top: 52%;
    }

    .image__six {
        max-width: 5rem;
        right: -3%;
    }

    .wrapper__number-seven {
        max-width: 8rem;
        top: 63%;
    }

    .image__seven {
        max-width: 5rem;
        right: -3%;
    }

    .wrapper__number-eight {
        max-width: 8rem;
        top: 73%;
    }

    .image__eight {
        max-width: 5rem;
        right: -3%;
    }

    .wrapper__number-nine {
        max-width: 8rem;
        top: 84%;
        left: 0%;
    }

    .image__nine {
        max-width: 5rem;
        right: -3%;
        top: 85%;
    }

    .wrapper__number-ten {
        max-width: 13rem;
        left: 0%;
        top: 95%;
    }

    .image__ten {
        max-width: 5rem;
        right: -3%;
        top: 96%;
    }

    .slide__bottom-smallmessage {
        max-width: 8rem;
        margin-left: 6%;
    }

    .slide__bottom-bigmessage {
        max-width: 14rem;
    }

    .slider .item img {
        width: 5rem;
    }

    .slider__title {
        font-size: 3rem;
    }

    .slide__top-text {
        font-size: 1.5rem;
    }

    .slide__bottom-text {
        font-size: 1.5rem;
    }

    .slide__bottom-text {
        padding: 2rem 0.625rem;
    }

    .first__wrapper-inner {
        padding: 1.55rem 6rem;
    }

    .contacts__inner-box {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    .first__wrapper-one {
        width: 6.8125rem;
        height: 6.375rem;
    }

    .first__wrapper-two {
        width: 1.75rem;
        height: 2.75rem;
        left: 14%;
    }

    .first__wrapper-three {
        width: 3.4375rem;
        height: 0.8125rem;
    }

    .first__wrapper-four {
        left: 13%;
        bottom: 9%;
        width: 4.5rem;
        height: 1.8125rem;
    }

    .first__wrapper-five {
        width: 4.125rem;
        height: 2.5rem;
    }

    .container {
        padding: 0 10rem;
    }

    .first__wrapper-book {
        position: absolute;
        right: 0%;
        bottom: -15%;
        width: 21rem;
        height: 24.6rem;
        z-index: 10;
    }

    .second__image {
        max-width: 30rem;
        max-height: auto;
        margin-top: 18%;
    }

    .second__wrapper-diplom {
        margin-left: -16%;
        max-width: 24rem;
    }

    .first__wrapper-inner {
        padding: 1.55rem 4rem;
    }

    .form__bottom-input {
        padding: 1.5rem 0rem;
    }

    .bottom-input-top {
        padding: 1.5rem 0rem;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .bottom-input-bottom {
        padding: 1.5rem 0rem;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .form__background {
        padding: 6rem 4rem;
    }

    .contacts__inner-subtitle {
        font-size: 1.3rem;
    }

    .contacts__inner-subtext {
        font-size: 1.3rem;
    }

    .contacts__inner-wrapper {
        gap: 2rem;
    }

    .contacts__inner-wrapper {
        display: flex;
        width: max-content;
    }
}

@media (max-width: 1200px) {
    .image__one {
        top: 1%;
    }

    .image__two {
        top: 12.5%;
    }

    .image__three {
        top: 23%;
    }

    .wrapper__number-two {
        top: 11%;
    }

    .wrapper__number-three {
        max-width: 8rem;
        top: 21%;
    }

    .slide__top {
        padding: 2rem 3rem;
    }
}


@media (max-width: 1024px) {

    /* правила CSS для планшетов с шириной экрана от 481px до 1024px */
    .first__wrapper-logo {
        margin-bottom: 3rem;
    }

    .first__wrapper-title {
        font-size: 4rem;
        padding-bottom: 1.5rem;
    }

    .first__wrapper-text {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .container {
        padding: 0 10rem;
    }

    .first__wrapper-image {
        max-width: 26.375rem;
        max-height: 14.75rem;
        margin-top: 2rem;
    }

    .first {
        height: 150vh;
    }

    .first__wrapper-title {
        font-size: 3rem;
    }

    .first__wrapper-text {
        font-size: 1.2rem;
    }

    .container {
        padding: 0 5rem;
    }

    .first__wrapper-book {
        position: absolute;
        right: 0%;
        bottom: -15%;
        width: 15rem;
        height: 16.6rem;
        z-index: 10;
    }

    .first__wrapper-pen {
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 12.1rem;
        height: 27.3rem;
        z-index: 5;
    }

    .first__wrapper-one {
        left: 0%;
    }

    .first__wrapper-two {
        width: 1.75rem;
        height: 2.75rem;
        left: 12%;
    }

    .first__wrapper-three {
        position: absolute;
        left: 3%;
        bottom: 9%;
        width: 3.4375rem;
        height: 1rem;
        z-index: 10;
    }

    .first__wrapper-four {
        left: 13%;
        bottom: 9%;
        width: 3.5rem;
        height: 1.813rem;
    }

    .first__wrapper-five {
        width: 3.125rem;
        height: 2rem;
    }

    .second__image {
        max-width: 30rem;
        max-height: auto;
        margin-top: 20%;
    }

    .second__wrapper-title {
        font-size: 2.5rem;
    }

    .second__wrapper-text {
        font-size: 1.3rem;
        padding-bottom: 2rem;
    }

    .second__wrapper-subtitle {
        padding-bottom: 2rem;
    }

    .second__wrapper-subtext {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    .second__wrapper-box {
        padding: 2rem 3rem 2rem 3rem;
    }

    .third__wrapper-text {
        font-size: 1.2rem;
    }

    .third__wrapper-item {
        padding: 2rem 2rem 2rem 2rem;
    }

    .slide__top-text {
        font-size: 1.2rem;
    }

    .slide__bottom-text {
        font-size: 1.2rem;
    }

    .slider {
        margin: 0;
    }

    .third {
        margin-bottom: 8rem;
    }
}

@media (max-width: 900px) {
    .second__image {
        max-width: 25rem;
        max-height: auto;
        margin-top: 35%;
    }

    .slide__top {
        padding: 2rem 2rem;
    }

    .slide__bottom-bigmessage {
        max-width: 10rem;
    }

    .slide__bottom-smallmessage {
        max-width: 6rem;
    }

    .contacts__inner-wrapper {
        margin-left: 40%;
    }
}




@media (max-width: 798px) {
    .first__wrapper-logo {
        margin-bottom: 2rem;
    }

    .first__wrapper-title {
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .first__wrapper-text {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }

    .first__wrapper-inner {
        padding: 1.0rem 4rem;
        font-size: 1rem;
    }

    .first__wrapper-logo {
        margin-bottom: 1.5rem;
        max-width: 11.25rem;
        max-height: 4.625rem;
    }

    .container {
        padding: 0 5rem;
    }

    .first {
        height: 150vh;
    }

    .first__wrapper-book {
        position: absolute;
        right: 0%;
        bottom: -9%;
        width: 8rem;
        height: 10.6rem;
        z-index: 10;
    }

    .first__wrapper-pen {
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 6.1rem;
        height: 13.3rem;
        z-index: 5;
    }

    .first__wrapper-one {
        width: 3.813rem;
        height: 3.375rem;
        bottom: 12%;
    }

    .first__wrapper-two {
        width: 0.75rem;
        height: 1.75rem;
        left: 7%;
        bottom: 19%;
    }

    .first__wrapper-three {
        position: absolute;
        left: 3%;
        bottom: 6%;
        width: 2.438rem;
        height: 1rem;
        z-index: 10;
    }

    .first__wrapper-four {
        left: 7%;
        bottom: 9%;
        width: 2.5rem;
        height: 1.813rem;
    }

    .first__wrapper-five {
        width: 2.125rem;
        height: 2rem;
        left: 9%;
    }

    .first {
        background-image: url(../img/backgrounds/TitleSecionMobile.png);
        height: 120vh;
    }

    .second__image {
        max-width: 22rem;
        max-height: auto;
        margin-top: 40%;
    }

    .second__wrapper-diplom {
        max-width: 15rem;
    }

    .second__wrapper-title {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .second__wrapper-text {
        font-size: 1rem;
        padding-bottom: 2rem;
    }

    .second__wrapper-subtitle {
        font-size: 1.4rem;
    }

    .second {
        margin-top: 6rem;
    }

    .third__wrapper-title {
        font-size: 2rem;
    }

    .third__wrapper-grid {
        gap: 6rem;
    }

    .wrapper__number-one {
        max-width: 4rem;
        top: -1%;
    }

    .wrapper__number-two {
        max-width: 6rem;
    }

    .image__one {
        display: none;
    }

    .image__two {
        display: none;
    }

    .wrapper__number-three {
        max-width: 6rem;
    }

    .image__three {
        display: none;
    }

    .wrapper__number-four {
        max-width: 6rem;
    }

    .image__four {
        display: none;
    }

    .wrapper__number-five {
        max-width: 6rem;
    }

    .image__five {
        display: none;
    }

    .wrapper__number-six {
        max-width: 6rem;
    }

    .image__six {
        display: none;
    }

    .wrapper__number-seven {
        max-width: 6rem;
        top: 62%;
    }

    .image__seven {
        display: none;
    }

    .wrapper__number-eight {
        max-width: 6rem;
        top: 73%;
    }

    .image__eight {
        display: none;
    }

    .wrapper__number-nine {
        max-width: 6rem;
        top: 84%;
        left: 0%;
    }

    .image__nine {
        display: none;
    }

    .image__ten {
        display: none;
    }

    .wrapper__number-ten {
        max-width: 10rem;
        left: 0%;
        top: 95%;
    }

    .third__wrapper-grid {
        gap: 4rem;
    }

    .slider__title {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .form__top-title {
        font-size: 2rem;
    }

    .form__top-text {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }

}

@media (max-width: 798px) {
    .second__image {
        max-width: 20rem;
        max-height: auto;
        margin-top: 45%;
    }

    .second__wrapper-diplom {
        margin-left: -23%;
    }

    .form__background {
        width: 80%;
        padding: 4rem 4rem;
    }

    .bottom-input-top::placeholder {
        font-size: 1.2rem;
    }

    .bottom-input-bottom::placeholder {
        font-size: 1.2rem;
    }

    .contacts__inner-title {
        font-size: 2rem;
    }

    .contacts__inner-text {
        font-size: 1.2rem;
        max-width: 80%;
    }

    .contacts__inner-subtitle {
        font-size: 1.2rem;
    }

    .contacts__inner-subtext {
        font-size: 1.2rem;
    }

    .contacts__inner-top {
        margin-bottom: 4rem;
    }

}

@media (max-width: 650px) {
    .second__image {
        max-width: 20rem;
        max-height: auto;
        margin-top: 50%;
    }

    .slider .item img {
        width: 4rem;
    }

    .form__section {
        margin-bottom: 10rem;
    }

    .contacts__inner-wrapper {
        margin-left: 20%;
    }

}

@media (max-width: 600px) {

    .second__image {
        max-width: 20rem;
        max-height: auto;
        margin-top: 56%;
    }

    .second__wrapper-diplom {
        margin-left: -23%;
        max-width: 9rem;
    }

    .second__image {
        max-width: 18rem;
    }

    .second__wrapper-subtitle {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    .second__wrapper-box {
        padding: 1.5rem 3rem 1.5rem 3rem;
    }

    .third__wrapper-text {
        font-size: 1rem;
    }

    .slider {
        padding: 3%;
    }

    .slide__bottom-bigmessage {
        display: none;
    }

    .slide__bottom-smallmessage {
        display: none;
    }

    .previous {
        margin-top: 60%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 60%;
        position: absolute;
        right: 5%;
    }

    .form__bottom-image {
        max-width: 6rem;
        bottom: -16%;
    }

    .contacts__inner-wrapper {
        margin-left: 10%;
    }

    .contacts__inner-top {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 530px) {
    .second__image {
        margin-top: 63%;
    }

    .previous {
        margin-top: 66%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 66%;
        position: absolute;
        right: 5%;
    }

    .form__background {
        width: 80%;
        padding: 4rem 2rem;
    }

    .contacts__inner-wrapper {
        padding: 2.25rem 2rem;
    }
}


@media (max-width: 480px) {

    /* правила CSS для мобильных устройств с шириной экрана до 480px */
    .first__wrapper-logo {
        margin-bottom: 1rem;
    }

    .first__wrapper-title {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .first__wrapper-text {
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }

    .first__wrapper-inner {
        padding: 1.0rem 4rem;
        font-size: 1rem;
    }

    .first__wrapper-logo {
        margin-bottom: 1.5rem;
        max-width: 7.25rem;
        max-height: 4.625rem;
    }

    .container {
        padding: 0 5rem;
    }

    .second__image {
        margin-top: 90%;
        max-width: 15rem;
    }

    .second {
        margin-top: 4rem;
    }

    .container__two {
        padding: 0 2rem;
    }

    .previous {
        margin-top: 74%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 74%;
        position: absolute;
        right: 5%;
    }

    .bottom-input-bottom::placeholder {
        font-size: 1rem;
    }

    .bottom-input-top::placeholder {
        font-size: 1rem;
    }
}

@media (max-width: 440px) {
    .previous {
        margin-top: 80%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 80%;
        position: absolute;
        right: 5%;
    }

    .contacts__inner-top {
        margin-bottom: 0rem;
    }
}

@media (max-width: 420px) {
    .second__image {
        margin-top: 120%;
        max-width: 13rem;
    }

    .second__wrapper-title {
        font-size: 1.5rem;
    }

    .previous {
        margin-top: 90%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 90%;
        position: absolute;
        right: 5%;
    }
}

@media (max-width: 380px) {
    .previous {
        margin-top: 105%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 105%;
        position: absolute;
        right: 5%;
    }

    .first__wrapper-inner {
        padding: 1.0rem 3rem;
    }

    .contacts__inner-wrapper {
        padding: 2.25rem 1.54rem;
      }

      .contacts__inner-wrapper {
        margin-left: 6%;
      }

}

@media (max-width: 360px) {
    .second__image {
        margin-top: 140%;
        max-width: 13rem;
    }

    .previous {
        margin-top: 125%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 125%;
        position: absolute;
        right: 5%;
    }
}

@media (max-width: 340px) {
    .second__image {
        margin-top: 160%;
        max-width: 13rem;
    }

    .previous {
        margin-top: 135%;
        position: absolute;
        left: 5%;
    }

    .next {
        margin-top: 135%;
        position: absolute;
        right: 5%;
    }
}